* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.section{
  background: url('./images/img-2.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}
.services {
  color: #fff;
  padding: 180px;
}
.services h1{
 font-size: 100px;
 text-transform: uppercase;
}

@media screen and (max-width:600px){
  .services {
    color: #fff;
    padding: 140px;
    
  }
 .services h1{
   font-size: 40px;
   text-transform: uppercase;
 }
}

.section2{
  background: url('./images/img-1.jpg') no-repeat ;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}

.products {
  color: #fff;
  padding: 180px;
}

.products h1{
  font-size: 100px;
  text-transform: uppercase;
}

@media screen and (max-width:600px){
  .products {
    color: #fff;
    padding: 140px;
    
  }
 .products h1{
   font-size: 40px;
   text-transform: uppercase;
 }
}

.sign-up {
  background-image: url('./images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  color: #fff;

}
.sign-up h1{
   margin-bottom: 35px;
    font-size: 55px;
}
@media screen and (min-width:700px){
  .sign-up h1{
    
     font-size: 75px;
 }
}

.submitbtn {
  color:  rgb(236, 162, 23);
  
  border-radius: 5px;
  border: 3px solid rgb(236, 162, 23);
  padding: 10px;
  margin-top: 16px;
  width: 100%;
  outline-style: none;
  outline: none;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.submitbtn:hover {
  color: #fff;
  border: 3px solid rgb(255, 255, 255);
  background-color:  rgb(236, 162, 23);
}

.sign_up_input {
  padding: 10px;
  width: 100%;
  outline: none;
  outline-style: none;
  border-radius: 10px;
  border: 3px solid rgb(236, 162, 23);
  font-size: 25px;
  box-sizing: border-box;
  
}


.sign_up_input:hover{
  color: #fff;
  border: 3px solid rgb(255, 255, 255);
  background-color:  rgb(236, 162, 23);
}

.sign_up_label{
  font-size: 20px;
}

@media screen and (max-width: 350px){
       
  form {
    margin: 0 25px;
  }
}

@media screen and (max-width: 300px){
       
  form {
    margin: 0 25px;
  }
}